.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr; /* Duas linhas, a primeira com 1 parte e a segunda com 2 partes */
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 68%;
    position: fixed;
    top:10%;
    left: 25%;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
   
    
}

.dashboard_container1,
.dashboard_container2 {
    grid-row: 1; /* Coloque esses dois containers na primeira linha */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard_container3,
.dashboard_container4,
.dashboard_container5 {
    grid-row: 2; /* Coloque esses três containers na segunda linha */
    column-gap: 40px;
}

.dashboard_container1,
.dashboard_container2,
.dashboard_container3,
.dashboard_container4,
.dashboard_container5 {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100%;
    width: 100%;
    
}

.dashboard_container3{
    grid-column: 1;
    justify-content: flex-start;
    width: 80%;
   
    margin-left: 10px;
    margin-top: -20px;
 
}
.dashboard_container4{
   justify-content: flex-start;

   grid-column: 2;

  margin-top: -40px;
}
.dashboard_container5 {

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 3;
   
   overflow-y: auto;
   max-height: 200px;
   margin-top: -30px;
   
    
  }

.title_dashboard{
    text-align: center;
    font-size: 18px;

}


  tbody tr:nth-child(even) {
    background-color: #f2f2f2;

  }
  
  tbody tr:hover {
    background-color: #dddddd;
  }

  .tableDashboard th{
    font-size: 12px;
    
  }
  .tableDashboard td{
    font-size: 12px;
    align-items: center;
  }
  .tableDashboard tr{
    font-size: 12px;
    margin-bottom: 15px;

  }
  .tableDashboard td {
    text-align: center;
    vertical-align: middle;
}
.ashboard_container4{
  font-size: 10px !important;
}
.recharts-legend-wrapper{
  position: fixed;
  left: 15%!important;
  top:80%!important;
}

/* Formatacao para telemovel*/
  @media screen and (max-width: 768px) {

    .dashboard {
        display: flex;
        flex-direction: column;
        grid-template-columns: none ;
        grid-template-rows:none; /* Duas linhas, a primeira com 1 parte e a segunda com 2 partes */
        justify-content: flex-start;
        align-items: center;
        height: 65%;
        width: 97%;
        position: fixed;
        top:24%;
        left: 1%;
        background-color: white;
        border-radius: 10px;
        z-index: 1;
        overflow: auto;
    }
    
 
  }


  /*  Formatacao para tablet*/
@media only screen and (min-width: 768px) and (max-width: 1026px) {
  .dashboard{
   height: 60%;
   overflow: auto;
   width: 80%;

  
}

.recharts-wrapper{
  left: 10%;
}
}